$link-color: #946889;
$block_background: #337ab7;
$tooltip_background: #337ab7;

@mixin link {
  text-decoration: none;
  color: $link-color;
  font-weight: bold;
}

@mixin p {
  text-indent: 20px;
  text-align: justify;
}

html, body {
  height: 100%
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 51px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.not-set {
  color: #c55;
  font-style: italic;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view td {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media(max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

/* My style*/

.color-tooltip + .tooltip > .tooltip-inner {
  background-color: $tooltip_background;
}

.color-tooltip + .tooltip > .tooltip-arrow {
  border-right-color: $tooltip_background;
}

.slick-slide {
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;
  img {
    max-width: 100%;
  }
}

.brand-icon {
  width: 150px;
  img {
    max-width: 100%
  }
}

#items { //Items page
  display: flex;
  flex-flow: row wrap;
  .item {
    text-align: center;
    border: 1px solid lightgrey;
    margin: 5px;
    transition: 0.4s;
    &:hover {
      box-shadow: #dadada 2px 2px 4px 0px;
      transition: 0.4s;
    }
    img {
      max-width: 100%;
    }
    a {
      @include link;
    }
  }
}//Items page


#brands { //Brand page
  ul {
    list-style: none;
    column-count: 2;
  }

  a {
    @include link;
    &:hover {
      text-decoration: none
    }
  }
}//Brand page



#filter { //Filter
  border: 1px solid #dadada;
  padding: 5px;
  margin-top: 5px;
  div {
    display: grid;
  }
  h3 {
    margin: 0px 0px 10px 0px;
    background-color: $block_background;
    padding: 3px;
    color: #fff;
    .clear_filter {float: right;}
    a {color: inherit;
      &:hover {text-decoration: none;}
    }
  }
  .btn {border-radius: 0px;}
}

#product { //Product page
  a {@include link;}
  p {@include p}
  ul {
    list-style: none;
    padding: 0;
  }
  .attribut-value {
    text-transform: lowercase;
  }
  #varation-list {
    .thumbnail {
      @extend .brand-icon
    }
  }
} //Product page



