$link-color: #333;
$block_background: #4a0d66;
$tooltip_background: #337ab7;
$link-hover-color: #c3002f;

@mixin link {
  text-decoration: none;
  color: $link-color;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: $link-color;
  &:hover {
    color: #c3002f;
  }
}

@mixin p {
  text-indent: 20px;
  text-align: justify;
}

@mixin btn {
  background-color: $link-hover-color;
  border-color: #b1002b;
  text-transform: uppercase;
  transition: 1s;
  border-radius: 0px;
  &:hover {
    background-color: #e4043a;
    transition: 1s;
  }
}

@mixin zoom {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;

  &:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

html, body {
  height: 100%
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 51px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.not-set {
  color: #c55;
  font-style: italic;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view td {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media(max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

/* My style*/
:before {
  font-family: 'Glyphicons Halflings';
}

a {cursor: pointer;}

.block_title {color: #4a0d66}

.all_product {
  font-size: 14px;
  color: grey;
  border-bottom: 1px dotted;
  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}

.navbar { //Header style
  background-color: $block_background;
  .navbar-nav li > a {
    color: #fff;
  }
}

//Header style

.breadcrumb {
  li > a {
    @include link
  }
  li.active {
    @include link;
    color: $link-hover-color;
  }
}

.color-tooltip + .tooltip > .tooltip-inner {
  background-color: $tooltip_background;
}

.color-tooltip + .tooltip > .tooltip-arrow {
  border-right-color: $tooltip_background;
}

#index-array {
  a {@include link;}
  li {display: inline;}
}

.slick-slide { //Slyder style
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;
  text-align: center;
  .image-container {
    overflow: hidden;
    img {
      @include zoom;
      max-width: 100%;
      height: 220px;
    }
  }
  a {
    @include link;
  }
}

//Slyder style

.brand-icon {
  width: 150px;
  img {
    max-width: 100%
  }
}

#items { //Items page
  display: flex;
  flex-flow: row wrap;
  .item {
    text-align: center;
    border: 1px solid lightgrey;
    margin: 5px;
    transition: 0.4s;
    &:hover {
      box-shadow: #dadada 2px 2px 4px 0px;
      transition: 0.4s;
    }
    .image-container {
      overflow: hidden;
      img {
        max-width: 100%;
        height: 200px;
        @include zoom;
      }
    }
    a {
      @include link;
    }
  }
  .col-md-3 {
    width: 23.9%;
  }
}

//Items page

#brands { //Brand page
  ul {
    list-style: none;
    column-count: 2;
  }

  a {
    @include link;
    &:hover {
      text-decoration: none
    }
  }
}

//Brand page

#filter { //Filter
  border: 1px solid #dadada;
  padding: 5px;
  margin-top: 5px;
  div {
    display: grid;
  }
  h3 {
    margin: 0px 0px 10px 0px;
    background-color: $block_background;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;

    .clear_filter {
      float: right;
    }
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
  button {
    @include btn;
  }
  .clear_filter a:before {
    content: "\e014";
    font-size: 16px;
  }
  .btn {
    border-radius: 0px;
  }
  label {
    cursor: pointer;
    font-weight: normal;
    padding: 0px 0px 5px 0px;
  }
}

//Filter

#product { //Product page
  a {
    @include link;
  }
  p {
    @include p
  }
  h1 {
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .attribut-value {
    text-transform: lowercase;
  }
  #varation-list {
    .thumbnail {
      @extend .brand-icon
    }
    a {
      color: #fff;
      padding: 5px;
      @include btn;
    }
    .price {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
    }
  }

}

//Product page

#order { //Order page
  .price {
    @extend .price
  }
  #quantity {
    width: 60px;
  }
  table {
    font-size: 16px;
  }
}

//Order page


